*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


body{
  font-family: Poppins;
  max-width: 1200px; 
   margin: 0 auto;
   
 


}

img{
  max-width: 100%;
}

.title{
  text-align: center;
  padding: 30px 0;
}


.container-products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.card-product{
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.container-img{
  flex: 1;
}

.container-img img{
  width: 100%;
  height: 400px;
  object-fit: contain;

}

.info-product{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
}

.info-product h3{
  color: #777;
  font-weight: 500;
}


.price{
  color: #000;
  font-weight: 700;
  margin: 15px 0;
}

.info-product button{
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  margin-top: auto;
}

.info-product button:hover{
  background-color: #1302a9;
}

header{
  width: 100%;
  min-height: 100px; 
  max-width:1200px; 
  overflow: hidden;
   display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position:relative;

  background-color: white;
  margin-bottom: 50px;

}

header h1{
  position: absolute;
 
  left: 170px;
  font-size: 30px;
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #1302a9;
  text-transform: uppercase;
  
}
a{      
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #1e27d7;
}
.menu{
  display: none;
}
li{
  list-style: none;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
}
header ul li{
  padding: 0 1rem;
}

header ul li a{
  font-weight: bold;
}

.cart{
  position: relative;
  cursor: pointer;
}
.cart box-icon{
  width: 45px;
  height: 45px;
  
}
.cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
  background-color: rgb(77, 20, 220);
}



